body {
margin:0;
padding:0;
}

@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
}
* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  transition: .4s;
  padding-bottom:1em;
  z-index:999;
}

.active{
 background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(0deg, 
                    lightblue, 
                    darkblue,
                    lightblue,
                    darkblue);
}

header:hover {
  background: rgba(255,255,255,0.8);
  color: #000;
}
h1 {
  font-family: Moderne Sans, sans-serif;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  letter-spacing: .5rem;
}

h1 {
  text-transform: uppercase;
/*  font-weight: 900; */
  text-decoration: none;
  color: white;
/*  display: inline-block; */
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(0deg, 
                    lightblue, 
                    darkblue,
                    lightblue,
                    darkblue);
  animation: 1.5s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

nav a:first-child {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  font-size:1.25rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size:1.25rem;
  padding: .2rem;
}

#sketch-holder{
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  }

canvas{display:block;}
.canvas{display:block;}

ul{
text-align:left;
justify-content:left;
}

li{
padding-left:.5em;
}

li a:visited{
color:darkblue;
}

        :root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.wrapper{
display: grid;
grid-template-rows: 5% auto;
/*
overflow-y:scroll;
scrollbar-width:none;
-ms-overflow-style:none; */
}

.wrapper::-webkit-scrollbar{width:0; height:0;}

/* Navigation */
navbar a {
  background: var(--primary);
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

navbar a:hover {
  background: var(--dark);
  color: var(--light);
}

navbar{
background:black;
display:grid;
grid-gap:.1rem;
padding:0;
margin:0;
grid-template-columns: 5% auto;
}

.list{
/* display:flex;
flex-wrap: nowrap; 
text-align:center;
justify-content:space-around;
align-items:center;
align-content:center; */
overflow:hidden;
}

.list t{

display:flex;
flex-wrap: nowrap;
text-align:center;
justify-content:space-around;
align-items:center;
align-content:center;
/* height:100%;
margin-bottom:-50px;
padding-bottom:50px; */
overflow-y :hidden;
overflow-x: ;
}

p{
position:absolute;
top: 30%;
transform: translate(0%, -50%);
text-align:center;
}

.item{
width:200px;
height:5em;
position: relative;
}

.building{
border-bottom:2px dashed white;
background:gray;
display:grid;
grid-template-areas:'pic pic text';
}

.building img:hover{
  opacity:0.8;
  filter:alpha(opacity=80); 
}

.pic{width:;
background-color:;
}

.pic img{
/* height:100%;
width:100%; */
min-width:45em;
min-height:45em;
max-width: 45em;
max-height: 45em;
}

.text{
padding-top:40%;
font-size:4em;
/* align-items: center ; */
justify-content:center;
text-align:center;
background-color:;
width: 700px;
color: white;
}

.bg {
margin-top:0;
padding:0;
z-index:-10;
}

.bg img{
height:100%;
width:100%;
}

.bg .info{
position: absolute;
top: 50%;
left:50%;
transform:translate(-50%, -50%);
max-height:80vh;
font-size:1.5em;
text-align:center;
justify-content:center;
z-index:1;
color:white;
background-color:rgba(1,1,1,0.7);
}

#info{

}