body{
background:black;
text-color:white;
color: white;
font-size:300%;
text-align:center;
}

.center{
text-align:center;
}

@font-face {
    font-family: Suburban;
    src: url("Suburban.ttf") 
}

h1{
font-family: 'Suburban', Fallback, sans-serif;
}

img{
width:700px;
height:auto;
float:left;
}