html{overflow:hidden;}
body{
background:black;
color: white;
font-size:100%;
text-align:center;
  margin: 0;
  padding:0;
}

#sketch-holder{
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  }

.center{
text-align:center;
}

img{
width:50vw;
height:auto;
float:left;
}

@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
}
* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  transition: .4s;
  padding-bottom:1em;
  z-index:999;
}

.active{
 background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(0deg, 
                    lightblue, 
                    darkblue,
                    lightblue,
                    darkblue);
}


.assignments{
position:absolute;
top:60%;
left:50%;
/* padding-left:5%;
padding-right:5%; */
transform: translate(-50%, -50%);
font-size:1.5em;
text-align:center;
justify-content:center;
z-index:1;
background-color:rgba(1,1,1,0.5)
}

ul{
text-align:left;
justify-content:left;
}

li{
padding-left:.5em;
}

li a:visited{
color:darkblue;
}

header:hover {
  background: rgba(255,255,255,0.8);
  color: #000;
}
h1 {
  font-family: Moderne Sans, sans-serif;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  letter-spacing: .5rem;
}

h1 {
  text-transform: uppercase;
/*  font-weight: 900; */
  text-decoration: none;
  color: white;
/*  display: inline-block; */
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(0deg, 
                    lightblue, 
                    darkblue,
                    lightblue,
                    darkblue);
  animation: 1.5s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

nav a:first-child {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  font-size:1.25rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size:1.25rem;
  padding: .2rem;
}
canvas{display:block;}
.canvas{display:block;}